body{background-color:#dee3e2;
  transition: 1s;
font-family: Arial,Helvetica,sans-serif;}
body:hover{
  background-color: gold;}
hr{
  border-style: none;
  border-top-style:dotted;
  border-color:#de7119;
  border-width: 5px;

  width:5%;
}
h1{
  color:#66bfbf;
  letter-spacing:5px;
  text-shadow: 2px 2px 5px red;
}

h3{
  color:#66bfbf;
}
div {
  width: 100px;
  height: 100px;

  position: relative;
  animation: mymove 7s infinite alternate;
}
div{
  animation-timing-function: linear;}
.image2{ 
  animation-timing-function: ease;
}
.image3{
  animation-timing-function: ease-in;
}
.image4{
  animation-timing-function: ease-out;
}
.circle{
  background-color:#dee3e2;
  border-radius:100%;
  height:200px;
  width:200px;
}
  

@keyframes mymove {
  from {left: 10%;}
  to {left: 80%;}
}
